
* {
    padding: 0;
    margin: 0;
}


.theme {
    width: 100%;
    aspect-ratio: 3/1;
    border-radius: 50px;
    box-shadow: inset 0px 0px 20px 3px #000000;
    position: relative;
    overflow: hidden;
    transition: 1s ease;
    border: 1px rgba(0, 0, 0, 0.15%) solid;
}

.arc {
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    top: -100%;
    transition: 1s ease;
}

.deux {
    background: rgba(255, 255, 255, 0.10);
}

.trois {
    background: rgba(255, 255, 255, 0.05);
}

.sun {
    position: absolute;
    height: 70%;
    aspect-ratio: 1/1;
    background: #f6ac41;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: inset 1px 2px 10px 1px #FFFFFF, inset -1px -1px 18px -3px #000000;
    transition: 1s ease;
    overflow: hidden;
}

.sunicon {
    position: absolute;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 5px 5px 10px #787878,
    -5px -5px 10px #ffffff;
    transition: 1s ease;
}

.sunicondark {
    background: black;
    transition: 1s ease;
}

.relativeparent {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.suniconcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    aspect-ratio: 1/1;
    background: black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 1s ease;
    z-index: 2;
}


.moonimg {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 60%;
    aspect-ratio: 1/1;
    transition: 1s ease;
}



.triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: 10%;
    aspect-ratio: 1/1;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 2;
    transition: 1s;
}

.white {
    background: white;
}

#un {
    top: 27%;
}

#trois {
    left: 73%;
    transform: translate(-50%, -50%) rotate(90deg);
}

#cinq {
    top: 73%;
    transform: translate(-50%, -50%) rotate(180deg);
}

#sept {
    left: 27%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

#deux {
    left: 66%;
    top:34%;
    transform: translate(-50%, -50%) rotate(45deg);
}

#quatre {
    left: 66%;
    top: 66%;
    transform: translate(-50%, -50%) rotate(135deg);
}

#six {
    left: 34%;
    top: 66%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

#huit {
    left: 34%;
    top: 34%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.moon {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background: rgba(175, 172, 161, 0.98);
    border-radius: 50%;
    transform: translateX(0%);
    box-shadow: inset 1px 2px 10px 1px #FFFFFF, inset -1px -1px 18px -3px #000000;
    transition: 1s ease;
}

.dark {
    background: #25323b;
}

.moon:after {
    content: "";
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: #686e6e;
    position: absolute;
    top: 20%;
    left: 20%;
}

.moon:before {
    content: "";
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background: #686e6e;
    position: absolute;
    top: 50%;
    left: 45%;
}

.hidden {
    transform: translateX(0) translateY(-50%);
}

.left {
    left: 5%;
}

.right {
    left: 95%;
    transform: translateX(-100%) translateY(-50%);
}

.le {
    left: -60%;
}

.lee {
    left: -50%;

}

.leee {
    left: -40%;
}

.ri {
    left: 60%;
}

.rii {
    left: 50%;
}

.riii {
    left: 40%;
}

.yellow {
    background: #1d94f3;
}

.dark {
    background: #25323b;
}

.stars {
    position: absolute;
    top: 10%;
    left: 10%;
    background: white;
    width: 3%;
    aspect-ratio: 1/1;
    clip-path: polygon(47% 0%, 53% 0%, 56% 44%, 100% 47%, 100% 53%, 56% 56%, 53% 100%, 47% 100%, 44% 56%, 0% 53%, 0% 47%, 44% 44%);
    transform: translateY(0);
    transition: 1s ease;
    border-radius: 50%;
    opacity: 1;
}

.cloud {
    position: absolute;
    top: 60%;
    left: 90%;
    background: white;
    border-radius: 50%;
    width: 15%;
    aspect-ratio: 1/1;
    transform: translateY(0);
    transition: 1s ease;
    opacity: 1;
}

.t {
    left: 80%;
    top: 70%;
}

.th {
    left: 70%;
    top: 65%;
}

.f {
    left: 60%;
    top: 75%;
}

.fi {
    left: 50%;
    top: 80%;
}

.one {
    top: 10%;
    left: 15%;
}

.two {
    left: 30%;
    width: 2%;
}

.three {
    left: 10%;
    top: 70%;
    width: 7%;
}

.four {
    left: 5%;
    top: 40%;
    width: 5%;
}

.five {
    left : 23%;
    top: 42%;
    width: 6%;
}

.hid {
    transform: translateY(-500%);
    opacity: 0;
}

.hidd {
    opacity: 0;
    transform: translateY(500%);
}

.hidde {
    transform: translateX(150%);
}

.desert {
    background: #da9434;
}

.desertsun {
    background: #d07b1d;
}


.img {
    position: absolute;
    width: 70%;
    right: -2%;
    top: 27%;
    transform: rotate(-8deg) translateY(0);
    transition: 1s ease;
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
}

.imgdark {
    position: absolute;
    width: 75%;
    left: -2%;
    top: 23%;
    transform: rotate(8deg) translateY(0);
    transition: 1s ease;
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    filter: hue-rotate(180deg) brightness(0.6);
    z-index: 1;
}

.cactus {
    position: absolute;
    width: 10%;
    right: 15%;
    top: 74%;
    transform: translateY(0);
    transition: 1s ease;
    opacity: 1;
    filter: hue-rotate(280deg);

}

.cactusdark {
    position: absolute;
    width: 10%;
    left: 15%;
    top: 74%;
    transform: translateX(0);
    transition: 1s ease;
    opacity: 1;
    filter: hue-rotate(130deg) brightness(0.7);
    z-index: 2;
}

.sec {
    width: 15%;
    transform: scaleX(-1);
    left: 30%;
    top: 63%;
}

.second {
    width: 15%;
    transform: scaleX(-1);
    right: 30%;
    top: 63%;
}

.deserthidde {
    transform: translateX(300%);
}

.deserthidden {
    transform: translateX(300%) scaleX(-1);
}


.deserthid {
    transform: translateX(100%) rotate(-8deg);
}

.desertdarkhid {
    transform: translateX(-100%) rotate(8deg);
}

.desertdarkhidde {
    transform: translateX(-300%) scaleX(-1);
}

.desertdarkhidden {
    transform: translateX(-300%);
}


.desertdark {
    background: #143562;
}

.moondesert {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background: rgba(255, 255, 255, 0.98);
    border-radius: 50%;
    transform: translateX(0%);
    box-shadow: inset 1px 2px 10px 1px #FFFFFF, inset -1px -1px 18px -3px #000000;
    transition: 1s ease;
}

.moondesert:after {
    content: "";
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: #4c4f4f;
    position: absolute;
    top: 20%;
    left: 20%;
}

.moondesert:before {
    content: "";
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background: #4c4f4f;
    position: absolute;
    top: 50%;
    left: 45%;
}

.hidde {
    transform: translateX(150%);
}

.minimalistehidden {
    opacity: 0;
}